@model EduHomeAspProject.Models.Common
    <div class="single-blog-widget mb-50">
        <div class="single-blog-banner">
            <a href="@Url.Action("Index","Blog")"><img src="~/Uploads/@Model.Image" alt="blog"></a>
            <h2>@Model.Slogan</h2>
        </div>
    </div>