@model List<EduHomeAspProject.Models.TestMorial>
@foreach (var item in Model)
{

    <div class="col-md-8 col-md-offset-2 col-sm-12">
        <div class="single-testimonial">
            <div class="testimonial-info">
                <div class="testimonial-img">
                    <img src="~/Uploads/@item.Image" alt="testimonial">
                </div>
                <div class="testimonial-content">
                    <p>@item.Text</p>
                    <h4>@item.Fullname</h4>
                    <h5>@item.Occupation</h5>
                </div>
            </div>
        </div>
    </div>
}